.emptyTasks {
  border-top: 1px solid var(--gray-400);
  border-top-left-radius: 8px;
  
  border-top-right-radius: 8px;
  height: 15.25rem;
  padding: 2.6875rem 1.5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 1.5rem;

}